@model AB3.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Project details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Categories
        </dt>
        <dd>
            @{
                string allCategories = "";

                for (int i = 0; i < Model.ProjectCategories.Count; i++)
                {
                    allCategories = allCategories + Model.ProjectCategories[i].Category.CategoryName;
                    if (i < Model.ProjectCategories.Count - 1)
                    {
                        allCategories = allCategories + " | ";
                    }
                }
            }
            @allCategories
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            Cover
        </dt>
        <dd>
            <div class="content-image-details-container">
                @foreach (var item in Model.Images)
                {
                    if (item.IsCover)
                    {
                        <img src="~/images/uploads/@item.ImageName" alt="@item.ImageName" class="content-image-details" />
                    }
                }
            </div>
            <div class="clear"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd>
            <div class="content-image-details-container">
                @foreach (var item in Model.Images)
                {
                    if (!item.IsCover)
                    {
                        <img src="~/images/uploads/@item.ImageName" alt="@item.ImageName" class="content-image-details" />
                    }
                }
            </div>
            <div class="clear"></div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
